* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segaoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Helvetica Neve', sans-serief;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
